.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    width: 20vw;

    padding: 40px;

    border: 1px solid #a9a6a6;
    border-radius: 4px;
}
.card .input-box {
    position: relative
}
.window a {
    text-decoration: none !important;
    color:#176909;
}
