<!doctype html>
<html lang="en">
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/src/styles.scss" />
        <title>{{title}}</title>
    </head>
    <body>
        {{> @partial-block}}
    </body>
</html>
