.window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
input {
  height: 20px;
  border: 1px solid lightgray;
}
label {
  color: gray;
  font-size: smaller;
  position: absolute;
  top: -16px;
  left: 1px;
  background: #fff;
  padding: 0 5px;
}
a {
  text-decoration: none !important;
  color:#176909;
}
.version {
  position: relative;
  color: gray;
  font-size: small;
  margin-top: 10rem;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  width: 20vw;

  padding: 40px;

  border: 1px solid #a9a6a6;
  border-radius: 4px;
}
.card .input-box {
  margin-top: 1.5rem;
  position: relative
}
.window a {
  text-decoration: none !important;
  color:#176909;
}

.button {
  font-weight: bold;
  margin-top: 2rem;
  background-color:#176909;
  border: none;
  color: white;
  cursor: pointer;
  padding: 6px 8px;
  height: 30px;
  width: 190px;
  text-decoration: none;
  border-radius: 4px;

  &__orange {
    background-color: orange;
    font-weight: bold;
    margin-top: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 8px;
    height: 30px;
    width: 190px;
    text-decoration: none;
    border-radius: 4px;
  }

  &__gray {
    background-color: darkgray;
    font-weight: bold;
    margin-top: 2rem;
    border: none;
    color: white;
    cursor: pointer;
    padding: 6px 8px;
    height: 30px;
    width: 190px;
    text-decoration: none;
    border-radius: 4px;
  }
}

.sugnup-page {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.layout {   
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 0;
}
.sidebar {
  min-width: var(--component-sidebar-base-width);
  max-width: 480px;
  width: 25vw;
  height: 100vh;
  position: relative;
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  background: white;
  color: #ededed;
  border: 1px solid lightgray;
}
.main {
  flex: 1 1;
  display: flex;
  border: 1px solid lightgray;
}
.header {
  box-sizing: border-box;
  color: black;
  padding-top: 10px;
  margin-left: 20px;
  font-size: large;
}
.search {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 0 auto;
  z-index: 10;
  margin: 10px 5px;
}
.search input {height: 40px;}
.chats {
  border-top: 1px solid gray;
  box-sizing: border-box;
}
.avatar {
  height: 50px;
  width: 50px;
  background-color: #dddada;
  border-radius: 50%;
  display: inline-block;
}
.chat {
  display: flex;
  border-bottom: 1px solid gray;
  padding: 10px 5px;
}
.chat.active {border: 1px solid green}
.user {
  color: black;
  margin-left: 5px;
  min-height: 50px;
}
.last-message {
  color: darkgray;
}
.lm-time {
  position: absolute;
  left: 70%;
  color: gray;
  font-weight: 600;
  font-size: small;
  margin: -30px;
}
.chat-message {
  width:50vw;
}
.row > .lm-time {
  margin: 0px;
  margin-left: 100%;
  width: 120px;
}
.chat__dialog {
  position: absolute;
  left: 170%;
  top: 1rem;
  width: 100%;
  font-size: 24px;
}
.chat__dialog .row {
  width: 50vw;
}
.settings {
  position: absolute;
  left: 90%;
  color: gray;
  top:10px;
}
.addchat {
  padding:10px;
  font-size: 20px;
}
.chat_greet {
  margin-top: 2rem;
  margin-left: 2rem;
}
.message {
  position:absolute;
  top:90vh;
}
.message input {
  width: 50vw;
  min-height: 30px;
  font-size: 20px;
}
.btn-icon {
  float: right;
  margin-top: -35px;
  margin-right: -50px;
}
.button_message {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: fit-content;
  margin-bottom: 1rem;
}
.button_message .button {
  width:2rem;
  height: 20px;
  padding:0px;
  margin-left: 1rem;
}
.message-input input {
  width: 40rem;
}
.usersettings {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  width: 50vw;
  padding: 40px;
  border: none;
}
.avatar {
  height: 50px;
  width: 50px;
  background-color: #dddada;
  border-radius: 50%;
  display: inline-block;

  &__settings {
    cursor: pointer;
  }
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14rem;
  border-bottom: 1px solid #EAEAEA;
  margin: 10px 0;
  padding: 10px 0 0;
}
.row input {
  border: none;

}
.actions {
  margin-top: 3rem;
}
.exit-link a {
  color: red;
}
.link-button {
  align-items: normal;
  background-color: rgba(0,0,0,0);
  border-color: #176909;
  border-style: none;
  box-sizing: content-box;
  color: #176909; 
  cursor: pointer;
  display: inline;
  font: inherit;
  height: auto;
  padding: 0;
  perspective-origin: 0 0;
  text-align: start;
  text-decoration: none !important;
  transform-origin: 0 0;
  width: auto;
  -moz-appearance: none;
  -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
  -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}
.error {
  color: red;
  font-size: small;
}
.chat-message {
  color:black;
  padding-left:1rem;
}
